body{
    background-image: url(https://supajohn.github.io/module6/fox.jpeg);
    background-repeat: no-repeat;
    background-position: left;
}
header {
    grid-area: header;
    text-align: center;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    text-align: center;
}

.aside1 {
    grid-area: aside1;
}


.aside2 {
    grid-area: aside2;
}


footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'nav nav main main main aside1'
        'nav nav main main main aside1'
        'aside2 aside2 aside2 footer footer footer';
    grid-gap: .5em;
    
    max-width: 62em; 
    margin: auto;
}

audio { 
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border-radius: 90px;
    }    

ul li {
    list-style-type: none;
}


@media only screen and (max-width : 900px) {
    body {
        background: blue;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
            'nav nav nav nav nav nav'
            'header header header header header header'
            'main main main main aside1 aside1'
            'aside2 aside2 aside2 aside2 aside2 aside2' 
            'footer footer footer footer footer footer';
        grid-gap: .5em;
    }

    ul li {
        display: inline-block;
    }

}

@media only screen and (max-width : 600px) {

    body {
        background: fuchsia;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
            'nav nav nav nav nav nav'
            'header header header header header header'
            'main main main main main main'
            'aside1 aside1 aside1 aside1 aside1 aside1'
            'aside2 aside2 aside2 aside2 aside2 aside2'
            'footer footer footer footer footer footer';
        grid-gap: .5em;
    }

    ul li {
        display: inline-block;
    }

}